<div class="black-slide">
  <div id="carouselExampleIndicators" class="carousel slide" data-interval="false">
    <div class="carousel-indicators">
      <div class="glava1"><img src="/assets/pictures/slajdglava1.png" data-bs-target="#carouselExampleIndicators"
                               data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></div>
      <div class="glava2"><img src="/assets/pictures/slajdglava2.png" data-bs-target="#carouselExampleIndicators"
                               data-bs-slide-to="1" aria-label="Slide 2"></div>
      <div class="glava3"><img src="/assets/pictures/slajdglava3.png" data-bs-target="#carouselExampleIndicators"
                               data-bs-slide-to="2" aria-label="Slide 3"></div>
      <div class="glava4"><img src="/assets/pictures/slajdglava4.png" data-bs-target="#carouselExampleIndicators"
                               data-bs-slide-to="3" aria-label="Slide 3"></div>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <P class="texts">“ Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
          invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
          dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. “</P>
        <p class="names"><span style="color: #d99e30;">SUSAN ANDREWS,</span> Registered Nurse</p>


      </div>
      <div class="carousel-item">
        <P class="texts">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis quo suscipit
          nulla a unde! Architecto neque dolor officiis omnis molestias cum et vero, aspernatur illo nulla
          ipsum. Repellendus, animi magni! </P>
        <p class="names"><span style="color: #d99e30;">SUSAN ANDREWS,</span> Registered Nurse</p>


      </div>
      <div class="carousel-item">
        <P class="texts">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit repellendus placeat
          vel expedita magnam labore vero quia, laborum minima dolor omnis maiores saepe id ratione
          dignissimos, libero dolorum. Beatae, laudantium!</P>
        <p class="names"><span style="color: #d99e30;">SUSAN ANDREWS,</span> Registered Nurse</p>


      </div>
      <div class="carousel-item">
        <p class="texts">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio quidem
          doloribus sed soluta enim eius odio facere culpa perspiciatis nesciunt! Fugit tempore
          cupiditate, fuga voluptatum expedita illo corporis excepturi corrupti.</p>
        <p class="names"><span style="color: #D99E30;">SUSAN ANDREWS,</span> Registered Nurse</p>


      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="prev">
        <!--      <i class="fal fa-angle-left" aria-hidden="true"></i>-->
        <i class="fal fa-chevron-left"></i>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="next">
<!--        <i class="fal fa-angle-right" aria-hidden="true"></i>-->
        <i class="fal fa-chevron-right"></i>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  </div>
</div>
