<footer>
  <div class="futer">
    <div class="container">
      <div class="row">
        <div class="col">
          <img src="/assets/pictures/NMWC logo - gold.png" style="width: 100%;">
          <p>it is truly my passion to teach practical wound care education concepts</p>
          <p><img src="/assets/pictures/envelope.svg"> nancy@nmwoundcare.com</p>
          <p><img src="/assets/pictures/phone-alt.svg"> (630) 699-1143</p>
        </div>
        <div class="col">
          <h5>COMPANY</h5>
          <p><a href="#" style="text-decoration: none;">About us</a></p>
          <p><a href="#" style="text-decoration: none;">BLOG</a></p>
        </div>
        <div class="col">
          <h5>LINKS</h5>
          <p><a href="#" style="text-decoration: none;">Courses</a></p>
          <p><a href="#" style="text-decoration: none;">News & Blog</a></p>
          <p><a href="#" style="text-decoration: none;">Webinars</a></p>
          <p><a href="#" style="text-decoration: none;">FAQs</a></p>
        </div>
        <div class="col">
          <h5>SUPPORT</h5>
          <p><a href="#" style="text-decoration: none;">Documentation</a></p>
          <p><a href="#" style="text-decoration: none;">Privacy Pollicy</a></p>
          <p><a href="#" style="text-decoration: none;">Terms of Use</a></p>
        </div>
        <div class="col">
          <h5>SUBSCRIBE</h5>
          <label for="subscribe" class="form-label">Stay in touch with us!</label>
<!--          <input type="text" class="form-control" placeholder="First name*" aria-label="First name">-->
          <input type="name" name="name" ngModel name placeholder="First name*">

          <input type="email" name="email" ngModel email placeholder="youremail@domain.com">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
      <div class="divider py-1 bg-secondary"></div>
      <div class="d-flex justify-content-between copyright-icons">
        <div>
          <p style="font-size: 15px;">Copyright © 2021. All rights reserved</p>
        </div>
        <div>
          <!-- Facebook -->
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
            class="fab fa-facebook-f"></i></a>
          <!-- Twitter -->
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
            class="fab fa-twitter"></i></a>
          <!-- Instagram -->
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
            class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>

</footer>
