.futer button {
  width: 109px;
  height: 39px;
  font-size: 14px;
  background-color: #D99E30;
  border: none;
  margin-bottom: 20px;
  font-family: "Noto Sans, Bold";
  border-radius: 0px;
}

.futer {
  background-color: #202121;
  padding-top: 114px;

  h5 {
    font-size: 16px;
    font-family: "Roboto Medium";
    letter-spacing: 1px;
    line-height: 24px;
  }
   p {
    font-size: 16px;
    font-family: 'Noto Sans Regular';

  }

}

.futer input {
  border-radius: 0px;
  margin-bottom: 10px;
  background-color: #2B2C2C;
  border: none;
}

.futer h5 {
  margin-bottom: 20px;
}

.futer h5, label {
  color: white;

}

.futer p, a {
  color: #ACACAC;
}

.futer .btn-primary:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(191, 126, 4);
  border-color: none;
  border: none;
}

.futer .btn-primary:active {
  background-color: #D99E30
}

.futer .btn-primary:focus {
  background-color: rgb(191, 126, 4);
}

.futer .btn-primary:focus {
  box-shadow: none;
  border-color: unset;
}

.futer .form-control:focus {
  border-color: unset;
  box-shadow: none;
}

.futer a:hover {
  color: unset;
}

.futer .col {
 padding: 0px;
}

.futer .bg-secondary {
  padding-bottom: 0px !important;
  padding-top: 1px !important;
  opacity: .5;
}

.futer .icon {
  color: #ACACAC;
  width: 38px;
  height: 38px;
  border-radius: 50%;
}

.futer .btn-outline-light {
  border-radius: 50%;
  color: #ACACAC;
  width: 38px;
  height: 38px;
  font-size: 15px;
  margin-left: 16px !important;
}

.futer .copyright-icons {
  margin-top: 20px;
}

.futer .row {
  margin-bottom: 41px;
}

.container {
  margin-left: 276px;
  padding: 0px;

}

.logo {
  width: 71.3%;
  padding-bottom: 20px;
}

.prvi {
  margin-left: 30px;
  p {
    width: 298px;
  }
  .txt {
  margin-bottom: 28px;
  }
  .mail {
    margin-bottom: 13px;
    img {
      padding-right: 11px;
      padding-left: 1px;
    }
  }
  .number {
    img {
      padding-right: 14px;
      padding-bottom: 3px;
    }

  }
}

.drugi  {
  margin-left: 42px;
  padding-top: 8px !important;
  h5 {
    margin-bottom: 8px;
  }
  .aboutus{
    margin-bottom: 13px;
  }
}


.dash {
  width: 26px;
  height: 1px;
  background: var(--unnamed-color-d99e30) 0% 0% no-repeat padding-box;
  background: #D99E30 0% 0% no-repeat padding-box;
  opacity: 1;
  margin-bottom: 34px;
  margin-top: 0px;
}


.treci {

  padding-top: 7px !important;
  padding-right: 0px;

  h5 {
    margin-bottom: 9px;
  }
  .courses {
    margin-bottom: 13px;
  }
  .newsandblog {
    margin-bottom: 13px;
  }
  .webinars {
    margin-bottom: 13px;
  }
}

.cetvrti {

  margin-left: 0px;
  padding-top: 8px !important;
  h5 {
    margin-bottom: 8px;
    letter-spacing: 0.2px;
  }
  .documentation {margin-bottom: 14px;}

  .privacipolicy { margin-bottom: 12px;}

}

.peti {
  margin-right: 66px;
  padding-top: 7px !important;

  h5 {
    margin-bottom: 9px;
    letter-spacing: 0.2px;
  }
  input {
    width: 260px;
    height: 40px;
    padding-left: 10px;
    letter-spacing: 0.7px;
    margin-bottom: 15px;
    color: #ACACAC;
  }

  label {
    letter-spacing: 0.6px;

  }

  button {
    width: 102px;
    height: 39px;
  }
}

.divader {
  height: 1px;
  background-color: #4D4D4D;

  width: 1200px;

}

.copyright {
  font-size: 16px;
  padding-top: 16px;
  padding-left: 18px;
  color: #4D4D4D;
}

@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1354px;
  }
}

.btn-media {
  padding-top: 6px;
}
