<footer>
  <div class="futer">
    <div class="container">
      <div class="row">
        <div class="col prvi">
          <img class="logo" src="/assets/pictures/NMWC logo - gold.png">
          <p class="txt">It is truly my passion to teach practical wound care education concepts.</p>
          <p class="mail"><img src="/assets/pictures/envelope.svg"> nancy@nmwoundcare.com</p>
          <p class="number"><img src="/assets/pictures/phone-alt.svg"> (630) 699-1143</p>
        </div>
        <div class="col drugi">
          <h5>COMPANY</h5>
          <hr class="dash">
          <p class="aboutus"><a href="#" style="text-decoration: none;">About us</a></p>
          <p><a href="#" style="text-decoration: none;">Blog</a></p>
        </div>
        <div class="col treci">
          <h5>LINKS</h5>
          <hr class="dash">
          <p class="courses"><a href="#" style="text-decoration: none;">Courses</a></p>
          <p class="newsandblog"><a href="#" style="text-decoration: none;">News & Blog</a></p>
          <p class="webinars"><a href="#" style="text-decoration: none;">Webinars</a></p>
          <p><a href="#" style="text-decoration: none;">FAQs</a></p>
        </div>
        <div class="col cetvrti">
          <h5>SUPPORT</h5>
          <hr class="dash">
          <p class="documentation"><a href="#" style="text-decoration: none;">Documentation</a></p>
          <p class="privacipolicy"><a href="#" style="text-decoration: none;">Privacy Policy</a></p>
          <p><a href="#" style="text-decoration: none;">Terms of Use</a></p>
        </div>
        <div class="col peti">
          <h5>SUBSCRIBE</h5>
          <hr class="dash">
          <label for="subscribe" class="form-label">Stay in touch with us!</label>
<!--          <input type="text" class="form-control" placeholder="First name*" aria-label="First name">-->
          <input type="name" name="name" ngModel name placeholder="First name*">

          <input type="email" name="email" ngModel email placeholder="youremail@domain.com">
          <button type="submit" class="btn btn-primary">SUBMIT</button>
        </div>
      </div>
      <hr class="divader">
      <div class="d-flex justify-content-between copyright-icons">
        <div>
          <p style="font-size: 15px;">Copyright © 2021. All rights reserved</p>
        </div>
        <div>
          <!-- Facebook -->
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
            class="fab fa-facebook-f"></i></a>
          <!-- Twitter -->
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
            class="fab fa-twitter"></i></a>
          <!-- Instagram -->
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
            class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>

</footer>
