<div class="login-register-band d-flex  justify-content-between">
  <div class="information container d-flex">
    <p class="question">Have a question?</p>
    <a href="#" id="number-email">
      <p>
        <img class="image1 phone" src="/assets/pictures/phone-alt.png" />
        <span>(630) 699-1143</span>
      </p>
    </a>
    <a href="#" id="number-email">
      <p>
        <img class="image1 mail" src="assets/pictures/Email.png" />
        nancy@nmwoundcare.com
      </p>
    </a>
  </div>

  <div class="register-login container d-flex">
    <a href="#">Register</a>
    <span>/</span>
    <a class="login" href="#">Login</a>
    <img class="search" src="/assets/pictures/search.png">
    <img class="shopping-cart" src="/assets/pictures/shopping-cart.png" alt="">
  </div>
</div>
