<div class="background">
<div class="container sectionB">
  <div class="logo"><img src="/assets/pictures/NMWC%20logo%20-%20gold.png" alt=""></div>
  <div class="d-flex paragraphs flex-column justify-content-center align-items-center">
    <p class="paragraph1">Whether it’s a national conference keynote address or individual in-service training, Nancy connects with her audience and delivers her trademark teaching style across the globe.</p>
    <p class="paragraph2">She has a following unlike any other speaker in her field and favors practical evidence-based concepts over theoretical hyperbole to help her audiences understand wound care at the bedside.</p>
  </div>
</div>
</div>
