<!--<div class="lastNewsAndBlog">-->
<!--  <h1 class="title">Latest News And Blog</h1>-->
<!--  <div class="container  custom-container" style="margin-bottom: 40px; position: relative;">-->
<!--    <div class="row d-flex justify-content-center">-->

<!--      <div *ngFor='let item of cards'>-->
<!--        <div class="card1  ">-->
<!--          <div class="image">-->
<!--            <img [src]="item.cardPicture" width="100%" alt="">-->
<!--            <p class="buisness">BUSINESS</p>-->
<!--          </div>-->
<!--          <div class="card1-body">-->
<!--            {{item.firstCardText}}-->
<!--            <p class="secondParagraph"><span class="woundCare">Wound Care</span>/ No Comment</p>-->
<!--          </div>-->
<!--          <div class="card-overlay">-->
<!--            <h2>{{item.cardDate}}</h2>-->
<!--            <h6> {{item.secondCardSubtitle}} </h6>-->
<!--            <p class="category-comment"><span>Category</span>/ No Comment</p>-->
<!--            <hr class="dash">-->
<!--            <p class="hover-txt">{{item.secondCardText}}</p>-->
<!--            <div class="d-flex">-->
<!--              <img class="hover-picture" [src]="item.secondCardPicture" alt="" style="object-fit: contain;">-->
<!--              <div class="div-prof-name">-->
<!--                <p class="hover-profession">{{item.secondCardProfession}}</p>-->
<!--                <h6 class="hover-name">{{item.secondCardName}}</h6>-->
<!--              </div>-->

<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<div class="lastNewsAndBlog">
  <h1 class="title">Latest News And Blog</h1>
  <div class="container  custom-container">
    <div class="row d-flex justify-content-center">


      <div *ngFor='let item of cards'>


        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
             <div class="image"><img [src]="item.cardPicture" width="100%" alt=""></div>
              <p class="buisness">BUSINESS</p>
              <div>{{item.firstCardText}}</div>
              <p class="secondParagraph"><span class="woundCare">Wound Care</span>/ No Comment</p>
            </div>
            <div class="flip-card-back">
              <h2>{{item.cardDate}}</h2>
              <h6> {{item.secondCardSubtitle}} </h6>
              <p class="category-comment"><span>Category</span>/ No Comment</p>
              <hr class="dash">
              <p class="hover-txt">{{item.secondCardText}}</p>
              <div class="d-flex">
                <img class="hover-picture" [src]="item.secondCardPicture" alt="" style="object-fit: contain;">
                <div class="div-prof-name">
                  <p class="hover-profession">{{item.secondCardProfession}}</p>
                  <h6 class="hover-name">{{item.secondCardName}}</h6>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


