.buisness {
  width: 144px;
  height: 37px;
  background-color: white;
  color: black;
  position: absolute;
  text-align: center;
  top: 359px;
  /* left: -1px; */
  font-size: 16px;
  padding-top: 14px;
  padding-left: 7px;
  font-family: "Noto Sans, Medium";
  line-height: 22px;
}
//
 .image {
  background: transparent linear-gradient(180deg, var(--unnamed-color-ffffff) 0%, var(--unnamed-color-ffffff) 15%, #868686 100%) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 15%, #868686 100%) 0% 0% no-repeat padding-box;
  height: 395px;
  width: 100%;
  position: relative;
   padding: 10px 5px 0px 5px;

}

.firstcardtext {
  font-family: 'Noto Sans Regular';
  text-align: start;
  margin-bottom: 9px;
}

.firstCardForm {
  padding: 22px 30px 25px 39px;
}

.secondParagraph {
  text-align: start;
  font-family: 'Noto Sans Regular';
  font-size: 16px;
  color: #888888;
  span {
    color: #D99E30;
  }
}

.flip-card-back {
  h2 {
    font-family: "Noto Sans, SemiBold";
    line-height: 30px;
    font-size: 22px;
    padding-top: 47px;
    text-align: left;
    padding-left: 38px;
    margin-bottom: 18px;

  }
  h3 {
    font-family: 'Noto Sans Regular';
    font-size: 16px;
    line-height: 24px;
    text-align: start;
    padding-left: 38px;
  }
  .category-comment {
    font-size: 16px;
    line-height: 22px;
    font-family: 'Noto Sans Regular';
    color: #888888;
    text-align: start;
    padding-left: 38px;
    margin-bottom: 42px;
    span {
      color: #D99E30;
    }
  }

  .hover-txt {
    text-align: start;
    padding-left: 38px;
    line-height: 26px;
    font-family: "Noto Sans Regular";
    font-size: 16px;
    color: #888888;
    padding-right: 20px;
    margin-bottom: 61px;
  }
  .secondForm {
    padding-left: 39px;
    text-align: start;
    .hover-profession {
      font-family: "Noto Sans, Italic";
      font-size: 14px;
      color: #888888;
      line-height: 19px;
      margin-bottom: 0px;
      padding-top: 7px;
      margin-bottom: 2px;
    }

    .hover-name {
      color: #202121;
      font-size: 16px;
      font-family: "Noto Sans Regular";
    }

    .hover-picture {
      margin-right: 18px;
    }

  }
}

//
//.image img {
//   width: 100%;
//  height: 390px;
//  padding: 5px;
//  position: absolute;
//}
//
//
//
//.card1 {
//  position: relative;
//  width: 332px;
//  height: 390px;
//  border-radius: 0px;
//  border: none;
//  margin-bottom: 10px;
//  visibility: visible;
//}
//
//.card1-body {
//  color: black;
//  padding: 30px;
//  font-family: 'Noto Sans Regular';
//  font-size: 16px;
//  padding-top: 21px;
//  padding-right: 20px;
//  padding-left: 38px;
//  background-color: white;
//
//  p {
//    margin-top: 10px;
//
//  }
//}
//
//.woundCare {
//  margin-right: 3px;
//  color: #D99E30 !important;
//}
//
//.secondParagraph {
//  color: #888888;
//}
//
//
//
//
//
//.custom-container .card1 .image img:hover {
//  object-fit: none;
//}
//
//
//
//.card-overlay {
//  visibility: hidden;
//  position: absolute;
//  top: 0;
//  bottom: 0;
//  left: 0;
//  right: 0;
//  height: 100%;
//  width: 100%;
//
//  h2 {
//    font-size: 22px;
//    font-family: "Noto Sans, SemiBold";
//    padding-top: 49px;
//    padding-left: 38px;
//    padding-bottom: 12px;
//  }
//  h6 {
//    padding-left: 38px;
//    line-height: 24px;
//    letter-spacing: 0.15px;
//    margin-bottom: 7px;
//  }
//  p {
//    padding-left: 38px;
//    letter-spacing: 0.41px;
//    line-height: 22px;
//  }
//  .category-comment{
//    padding-bottom: 27px;
//  }
//  .hover-txt {
//    padding-bottom: 44px;
//    line-height: 26px;
//    padding-right: 35px;
//    letter-spacing: 0.5px;
//    margin-bottom: 9px;
//  }
//  .hover-picture {
//    object-fit: contain;
//    padding-left: 39px;
//    padding-top: 8px;
//  }
//  .hover-profession {
//    margin-bottom: 0px;
//    font-family: "Noto Sans, Italic";
//    font-size: 14px;
//    color: #888888;
//    padding-left: 10px;
//    line-height: 22px;
//    letter-spacing: 0.00px;
//  }
//  .hover-name {
//    font-size: 16px;
//    font-family: 'Noto Sans Regular';
//    color: #202121;
//    padding-left: 7px;
//    line-height: 19px;
//
//  }
//  .div-prof-name {
//    margin-left: 10px;
//    padding-top: 14px;
//
//  }

//}
//
//.card1:hover {
//  visibility: hidden;
//}
//
//.card1:hover .card-overlay {
//  visibility: visible;
//}
//
//.card-overlay span {
//  color: #D99E30;
//}
//
//.card-overlay p {
//  color: #888888;
//}



.custom-container {
  max-width: 1800px;
}

.dash {
  width: 45px;
  border: solid 1px black;
  margin-left: 39px;
  margin-bottom: 37px;
}


.title {
  text-align: center;
  margin-bottom: 50px;
  font-family: "Noto Sans, Bold";
  font-size: 30px;
  padding-top: 23px;
  margin-bottom: 0px;
  padding-bottom: 28px;
}


.row > * {
  flex-shrink: 0;
  width: unset;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 2.5);
  padding-left: calc(var(--bs-gutter-x) * -1.5);
  margin-top: var(--bs-gutter-y);
}
.row {
  margin-right: calc(-3 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}


.lastNewsAndBlog {
 padding-bottom: 235px;
  background: linear-gradient(white 56.7%, #F6F6F7 43.3%);
  z-index: -2;
}



.flip-card {
  background-color: white;
  width: 331px;
  height: 526px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 526px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: white;
  color: black;
}

.flip-card-back {
  background-color: white;
  color: black;
  transform: rotateY(180deg);
}
