<div class="container container1 logo-navbar d-flex">
  <img class="logo-image" src="/assets/pictures/zlatni-logo.png">

  <nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container-fluid" style="padding: 0;">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active color-white navbar-padding-right home" aria-current="page" href="#" color-white>HOME</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle color-white navbar-padding-right courses"
               onclick="goTo('http://127.0.0.1:5500/courses.html')"
               id="navbarDropdownMenuLink"
               role="button" data-bs-toggle="dropdown" aria-expanded="false">
              COURSES
            </a>

            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">COURSE 1</a></li>
              <hr class="dropdown-divider">
              <li><a class="dropdown-item" href="#">COURSE 2</a></li>
              <hr class="dropdown-divider">
              <li><a class="dropdown-item" href="#">COURSE 3</a></li>
              <hr class="dropdown-divider">
              <li><a class="dropdown-item" href="#">COURSE 4</a></li>
              <hr class="dropdown-divider">
              <li><a class="dropdown-item" href="#">COURSE 5</a></li>
              <hr class="dropdown-divider">
              <li><a class="dropdown-item" href="#">COURSE 6</a></li>
              <hr class="dropdown-divider">
              <li><a class="dropdown-item" href="#">COURSE 7</a></li>
              <hr class="dropdown-divider">
              <li><a class="dropdown-item" href="#">COURSE 8</a></li>
              <hr class="dropdown-divider">
              <li><a class="dropdown-item" href="#">COURSE 9</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link color-white navbar-padding-right media" href="#">MEDIA</a>
          </li>
          <li class="nav-item">
            <a class="nav-link color-white navbar-padding-right blog" href="#">BLOG</a>
          </li>
          <li class="nav-item">
            <a class="nav-link color-white navbar-padding-right about-nancy" style="line-height: 28px;"
               href="#">ABOUT NANCY</a>
          </li>
          <li class="nav-item" style="margin-left: 19px;">
            <a class="nav-link color-white contact" style="line-height: 28px;
                                        padding: 0.5rem 0;" href="#">CONTACT</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</div>
<div class="text-sectionA container">
  <h1>Wound care is more than a healthcare discipline, it’s what I do and who I am.</h1>
  <p>It is truly my passion to teach practical wound care education concepts.</p>
  <button type="button" class="btn btn-warning fw-bold  Button" style="color: white;">READ MORE</button>
</div>


<!--..........................Slideshow..................................................-->


<div class="container slideshow d-flex justify-content-end firstSlide">
  <div class="buttons" style="display: flex; align-items: flex-end;">
    <button type="button" class="btn btn-warning slide-btn" (click)="plusDivs(-1)">
      < </button>
    <button type="button" class="btn btn-warning slide-btn" (click)="plusDivs(+1)">></button>
  </div>
  <div class="mySlides " >
    <div class="txt">
      <h3>14 OCT 2021</h3>
      <p class="first-slide-subtitle">LOREM IPSUM DOLOR SIT AMET, CONSETETUR</p>
      <p class="first-slide-time"><img src="/assets/pictures/Clock.png" alt=""> <span>7:00 PM - 9:00 PM</span> </p>
      <hr class="dash2">
      <p class="first-slide-txt">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos
        et accusam…</p>
      <div class="d-flex">
        <img class="heads" src="/assets/pictures/glavusa1.png">
        <div>
          <p class="first-slide-host">Host</p>
          <p class="first-slide-name">NANCY MORGAN</p>
        </div>
      </div>
    </div>
    <div class="slidePictures"><img src="/assets/pictures/medicinska oprema.png" alt=""></div>
  </div>


  <div class="mySlides" style="display: none;">
    <div class="txt">
      <h3>27 AUG 2020</h3>
      <p class="first-slide-subtitle">Lorem ipsum dolor sit amet consectetur.</p>
      <p class="first-slide-time"><img src="/assets/pictures/Clock.png" alt=""> 7:00 PM - 9:00 PM</p>
      <hr class="dash2">
      <p class="first-slide-txt">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates
        inventore facere natus
        fugit animi, repellendus quia quos ratione debitis quod nesciunt molestias reprehenderit
        nemo, dolor deserunt quasi odio esse?</p>
      <img src="/assets/pictures/glavusa2.png" alt="">
    </div>
    <div class="slidePictures"><img src="/assets/pictures/masaza.png" alt=""></div>
  </div>


  <div class="mySlides" style="display: none;">
    <div class="txt">
      <h3>4 SEP 2020</h3>
      <p class="first-slide-subtitle">Lorem ipsum dolor sit amet consectetur.</p>
      <p class="first-slide-time"><img src="/assets/pictures/Clock.png" alt=""> 7:00 PM - 9:00 PM</p>
      <p class="first-slide-txt">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates
        inventore facere natus fugit
        animi, repellendus quia quos ratione debitis quod nesciunt molestias reprehenderit nemo, dolor
        deserunt quasi odio esse?</p>
      <div class="d-flex">
        <img src="/assets/pictures/glavusa3.png" alt="" style="object-fit: contain;">
        <div style="margin-left: 10px;">
          <p class="first-slide-host" style="color: black; margin-bottom: 10px;">host</p>
          <p class="first-slide-name">WILLIAM ALEXANDER</p>
        </div>

      </div>
    </div>
    <div class="slidePictures"><img src="/assets/pictures/staka.png" alt=""></div>
  </div>
</div>




