


@import url("assets/fonts/Noto Sans Regular/stylesheet.css");
@font-face {
  font-family: "Noto Sans, Medium";
  src: url("/assets/fonts/noto-sans-medium-maisfontes.6716/noto-sans-medium.ttf");
}

@font-face {
  font-family: "Minion Pro, Bold";
  src: url("/assets/fonts/minion-pro-bold-maisfontes.7f5d/minion-pro-bold.ttf");
}

@font-face {
  font-family: "Noto Sans, Bold";
  src: url("/assets/fonts/notosans-bold.ttf");
}
@font-face {
  font-family: "Noto Sans, SemiBold";
  src: url("/assets/fonts/Noto Sans, SemiBold/FontsFree-Net-NotoSans-SemiBold.ttf");
}
@font-face {
  font-family: "Noto Sans, Italic";
  src: url("/assets/fonts/noto-sans-italic-maisfontes.5d21/noto-sans-italic.ttf");
}
